<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>entidade.cliente.controle.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>entidade.cliente.controle.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <servlet-class>entidade.cliente.controle.CadastrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPerfilServlet</servlet-name>
        <servlet-class>entidade.cliente.controle.VerPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmServlet</servlet-name>
        <servlet-class>entidade.administrador.controle.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPerfilAdmServlet</servlet-name>
        <servlet-class>entidade.administrador.controle.VerPerfilAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBothServlet</servlet-name>
        <servlet-class>paginas.login.controle.LoginBothServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>paginas.inicio.controle.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfilAdmServlet</servlet-name>
        <servlet-class>entidade.administrador.controle.AlterarPerfilAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfilAdmServlet</servlet-name>
        <servlet-class>entidade.administrador.controle.ExcluirPerfilAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfilClienteServlet</servlet-name>
        <servlet-class>entidade.cliente.controle.AlterarPerfilClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfilClienteServlet</servlet-name>
        <servlet-class>entidade.cliente.controle.ExcluirPerfilClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriasServlet</servlet-name>
        <servlet-class>entidade.categoria.controle.ListarCategoriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCategoriaServlet</servlet-name>
        <servlet-class>entidade.categoria.controle.EditarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarUpdateCategoriaServlet</servlet-name>
        <servlet-class>entidade.categoria.controle.RealizarUpdateCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCategoriaServlet</servlet-name>
        <servlet-class>entidade.categoria.controle.ExcluirCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <servlet-class>entidade.categoria.controle.NovaCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarCategoriaServlet</servlet-name>
        <servlet-class>entidade.categoria.controle.AdicionarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaPrincipalAdmServlet</servlet-name>
        <servlet-class>entidade.administrador.controle.PaginaPrincipalAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <servlet-class>entidade.produto.controle.ListarProdutosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoServlet</servlet-name>
        <servlet-class>entidade.produto.controle.AdicionarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <servlet-class>entidade.produto.controle.NovoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProdutoFotoServlet</servlet-name>
        <servlet-class>entidade.produto.controle.MostrarProdutoFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProdutoFotoServlet</servlet-name>
        <servlet-class>entidade.produto.controle.UploadProdutoFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <servlet-class>entidade.produto.controle.ExcluirProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProdutoFotoServlet</servlet-name>
        <servlet-class>entidade.produto.controle.AlterarProdutoFotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <servlet-class>entidade.produto.controle.EditarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>entidade.produto.controle.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProdutoAdmServlet</servlet-name>
        <servlet-class>entidade.produto.controle.BuscarProdutoAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCategoriaProdutoServlet</servlet-name>
        <servlet-class>entidade.categoriaproduto.controle.InserirCategoriaProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCategoriaProdutoServlet</servlet-name>
        <servlet-class>entidade.categoriaproduto.controle.ExcluirCategoriaProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCategoriaAdmServlet</servlet-name>
        <servlet-class>entidade.categoria.controle.BuscarCategoriaAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoCarrinhoCompraServlet</servlet-name>
        <servlet-class>entidade.carrinhocompra.controle.AdicionarProdutoCarrinhoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoCarrinhoCompraServlet</servlet-name>
        <servlet-class>entidade.carrinhocompra.controle.RemoverProdutoCarrinhoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetivarCompraServlet</servlet-name>
        <servlet-class>entidade.compra.controle.EfetivarCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerComprasClienteServlet</servlet-name>
        <servlet-class>entidade.compra.controle.VerComprasClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientesServlet</servlet-name>
        <servlet-class>entidade.cliente.controle.ListarClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerComprasClienteAdmServlet</servlet-name>
        <servlet-class>entidade.compra.controle.VerComprasClienteAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarCompraServlet</servlet-name>
        <servlet-class>entidade.compra.controle.CancelarCompraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <url-pattern>/CadastrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPerfilServlet</servlet-name>
        <url-pattern>/VerPerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmServlet</servlet-name>
        <url-pattern>/LoginAdmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPerfilAdmServlet</servlet-name>
        <url-pattern>/VerPerfilAdmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBothServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfilAdmServlet</servlet-name>
        <url-pattern>/AlterarPerfilAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfilAdmServlet</servlet-name>
        <url-pattern>/ExcluirPerfilAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfilClienteServlet</servlet-name>
        <url-pattern>/AlterarPerfilCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfilClienteServlet</servlet-name>
        <url-pattern>/ExcluirPerfilCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriasServlet</servlet-name>
        <url-pattern>/ListarCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCategoriaServlet</servlet-name>
        <url-pattern>/EditarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarUpdateCategoriaServlet</servlet-name>
        <url-pattern>/RealizarUpdateCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCategoriaServlet</servlet-name>
        <url-pattern>/ExcluirCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <url-pattern>/NovaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarCategoriaServlet</servlet-name>
        <url-pattern>/AdicionarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaPrincipalAdmServlet</servlet-name>
        <url-pattern>/PaginaPrincipalAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoServlet</servlet-name>
        <url-pattern>/AdicionarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <url-pattern>/NovoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProdutoFotoServlet</servlet-name>
        <url-pattern>/MostrarProdutoFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProdutoFotoServlet</servlet-name>
        <url-pattern>/UploadProdutoFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProdutoFotoServlet</servlet-name>
        <url-pattern>/AlterarProdutoFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <url-pattern>/EditarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <url-pattern>/AtualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProdutoAdmServlet</servlet-name>
        <url-pattern>/BuscarProdutoAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCategoriaProdutoServlet</servlet-name>
        <url-pattern>/InserirCategoriaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCategoriaProdutoServlet</servlet-name>
        <url-pattern>/ExcluirCategoriaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCategoriaAdmServlet</servlet-name>
        <url-pattern>/BuscarCategoriaAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoCarrinhoCompraServlet</servlet-name>
        <url-pattern>/AdicionarProdutoCarrinhoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoCarrinhoCompraServlet</servlet-name>
        <url-pattern>/RemoverProdutoCarrinhoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetivarCompraServlet</servlet-name>
        <url-pattern>/EfetivarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerComprasClienteServlet</servlet-name>
        <url-pattern>/VerComprasCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientesServlet</servlet-name>
        <url-pattern>/ListarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerComprasClienteAdmServlet</servlet-name>
        <url-pattern>/VerComprasClienteAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarCompraServlet</servlet-name>
        <url-pattern>/CancelarCompra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
    </welcome-file-list>
</web-app>
